<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Arctic Launcher</string>
	<key>CFBundleDisplayName</key>
	<string>Arctic Launcher</string>
	<key>CFBundleIdentifier</key>
	<string>com.arcticlauncher.launcher</string>
	<key>CFBundleExecutable</key>
	<string>arctic-launcher</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Arctic Launcher uses your microphone for proximity voice chat in Minecraft.</string>
</dict>
</plist>
